* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

:root{
    --cor-preto: rgb(43, 43, 43);
    --cor-botao: rgb(110, 110, 110);
    --cor-botao-hover: rgb(255, 0, 55);
    --cor-bg: rgb(250, 250, 250);
    --cor-texto: rgb(255, 255, 255);
}

.texto_cor{
    color: var(--cor-texto);
}

header {
    background-color: var(--cor-preto);
    padding-top: 20px;
    padding-bottom: 5px;
}

    header h1 {
        text-align: center;
    }

section {
    text-align: center;
    
}

    section h2 {
        margin-top: 200px;
        text-align: center;
        color: var(--cor-preto)
    }

    section button {
        margin-top: 100px;
        margin-bottom: 250px;
        background-color: var(--cor-botao);
        border: none;
        padding: 20px 20px;
        border-radius: 10px;
    }

    section button:hover {
        background-color: var(--cor-botao-hover);
        cursor: pointer;
    }

footer{
    background-color: var(--cor-preto);
    padding: 20px;
}

    footer p {
        text-align: center;
    }